body {
	padding: 0;
	margin: 0;
	font-family: Poppins;
	height: 100vh;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	overflow-y: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
